@charset "utf-8";

/*初期の空白をなくす*/
body
{
  margin: 0 auto;
  padding: 0;
  width: 960px;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

/*以下の要素のデフォルト空白（margin-topにある）をなくす*/
p,h1,h2,h3,h4,h5,h6
{
  margin-top: 0px;
}

/*画像の縦位置調整（下側に意図しない余白ができるので）*/
img
{
  vertical-align: bottom;
}

/*余分な余白を解除*/
ul
{
  margin: 0;
  padding: 0;/*左横の・も消える*/
}

a
{
  color: #3583aa;
  text-decoration: none;
}
a:visited/*一度訪問したリンクの色を薄くする*/
{
  color: #788d98;
}
a:hover/*カーソルが乗った状態だとリンクに下線が引かれる*/
{
  text-decoration: underline;
}

/****************** s header ********************/
header
{
  margin:0 auto;/* 要素の中央寄せ。widthを指定したあとに記述する事 */
}

header .logo
{
}

.headerWrapper
{
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/about_bg.jpg");
}

header .glovalNavi
{
  padding: 60px;
  text-align: center;
}

header .glovalNavi a
{
  margin: 0 50px;
  list-style: none;
  font-size:20px;
  font-family: 'Bitter', serif;
  color: black;
  background-color: white;
  padding: 5px;
}

header .glovalNavi a:hover
{
  color: white;
  background-color: black;
  text-decoration: none;/* 全体で指定している下線の取り消し */
}


/****************** e header ********************/


/****************** s mainWrapper ********************/
.mainWrapper
{
  clear:both;/*上で指定したfloatの解除*/
  background-color:#ffffff;
  padding: 35px 0;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
}

.mainWrapper .contents
{
  padding-left: 10px;
}

.mainWrapper .contents .mainCenter p
{
  padding-left: 10px;
}

.mainWrapper .contents .mainCenter img
{
  
}

.mainWrapper .contents h1
{
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

.mainWrapper .profileTxt h2
{
  font-family: 'Bitter', serif;
  font-size: 36px;
}

.mainWrapper .contents .careerWrapper
{
  display: inline-block;
  width: 50%;
}

.mainWrapper .contents .careerWrapper .career
{

}

.mainWrapper .contents .imgWrapper img
{
  width: 90%;
}
.mainWrapper .contents .imgWrapper
{
  text-align: center;
  display: inline-block;
  width: 45%;
}

/****************** e mainWrapper ********************/


/****************** s footer ********************/
footer
{
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding: 60px 0px;
  width:100%;
  background-color: #767671;
}

footer small
{
  font-size: 12px;
}

/****************** e footer ********************/




