@charset "UTF-8";
.main_nav ul {
  text-align: center;
}
.main_nav li {
  display: inline;
  list-style: none;
  padding: 0 1% 0 1%;
}
.main_nav .storeInfomation {
  width: 200px;
  margin: 15px auto;
}
.main_nav .storeInfomation li {
  padding: 0 10% 0 10%;
}
.main_nav .storeInfomation .slide_down_list {
  display: none;
}
.main_nav .storeInfomation .slide_down_list a {
  padding-bottom: 2px;
}
.main_nav .storeInfomation .slide_down_list li {
  border: none;
  display: block;
  text-align: left;
  padding-left: 32%;
}
.main_nav a {
  padding-bottom: 5px;
}
.main_nav a:hover {
  color: red;
  text-decoration: none;
  border-bottom: solid 2px red;
}

body {
  font-family: 'メイリオ', Meiryo,'Meiryo UI','ヒラギノ明朝 ProN','Hiragino Mincho ProN','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.main_visual h1 {
  border: solid 2px black;
}
