.nav-tabs.back_green > li.active > a,
.nav-tabs.back_green > li.active > a:hover,
.nav-tabs.back_green > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #8DE97A;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.navbar_center {
  margin: 0 auto;
  display: table;
  float: none;
}

.inline_block {
  display: inline-block;
}

article section.tab-pane {
  max-width: 960px;
}

.max_width_960 {
  max-width: 960px;
}

.none_padding .col-xs-4 {
  padding: 0;
}

.panel-body.none_padding {
  padding: 0;
}

header {
  max-width: 960px;
}

.width_harf {
  width: 50%;
}

main.panel.panel-default.panel_center {
  max-width: 960px;
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.img_harf {
  width: 50%;
  height: auto;
}

.img_70 {
  width: 70%;
  height: auto;
}

.img_20par {
  width: 20%;
  height: auto;
}

.background_gray {
  background-color: #E9ECEB;
}

.border {
  border: 1px solid black;
}

ul {
  margin: 0;
  padding: 0;
}

.my_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt_30 {
  margin-top: 30px;
}

.mb_30 {
  margin-bottom: 30px;
}

.my_20 {
  margin-left: 20px;
  margin-right: 20px;
}

.px_20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px_30 {
  padding-right: 30px;
  padding-left: 30px;
}

.px_50 {
  padding-right: 50px;
  padding-left: 50px;
}

.py_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pb_30 {
  padding-bottom: 30px;
}

.p_30 {
  padding: 30px;
}

.container-fluid.padding_none {
  padding: 0;
}

footer {
  max-width: 960px;
}

@media screen and (max-width: 400px) {
  .br_pc {
    display: none;
  }

  .br_sp {
    display: block;
  }

  .disp_pc {
    display: none;
  }

  .disp_sp {
    display: block;
  }
}
@media screen and (min-width: 400px) {
  .br_pc {
    display: block;
  }

  .br_sp {
    display: none;
  }

  .disp_pc {
    display: block;
  }

  .disp_sp {
    display: none;
  }
}
.border {
  border: solid 1px black;
}

.border_dotted {
  border: dotted 1px black;
}

.boarder_radius {
  border-radius: 10px;
}

.h2_heading {
  border-left: solid 10px #28996B;
  background-color: #D1E0DA;
  padding: 10px;
}

.contents_table {
  width: 90%;
}

@media screen and (max-width: 400px) {
  section.contents_table h2 {
    font-size: 25px;
  }

  .img_harf {
    width: 100%;
  }

  .img_70 {
    width: 100%;
  }
}
