@charset "UTF-8";
.nav-tabs.back_green > li.active > a,
.nav-tabs.back_green > li.active > a:hover,
.nav-tabs.back_green > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #8DE97A;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.navbar_center {
  margin: 0 auto;
  display: table;
  float: none;
}

.back_harf_yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, yellow));
  background: linear-gradient(transparent 50%, yellow 50%);
}

.back_harf_green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #D4FC82));
  background: linear-gradient(transparent 50%, #D4FC82 50%);
}

.inline_block {
  display: inline-block;
}

article section.tab-pane {
  max-width: 960px;
}

.max_width_960 {
  max-width: 960px;
}

.none_padding .col-xs-4 {
  padding: 0;
}

.panel-body.none_padding {
  padding: 0;
}

header {
  max-width: 960px;
}

.width_harf {
  width: 50%;
}

.width_70 {
  width: 70%;
}

main.panel.panel-default.panel_center {
  max-width: 960px;
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
}

article p {
  font-size: 16px;
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.img_harf {
  width: 50%;
  height: auto;
}

.img_30 {
  width: 30%;
  height: auto;
}

.img_70 {
  width: 70%;
  height: auto;
}

.img_20par {
  width: 20%;
  height: auto;
}

.background_gray {
  background-color: #E9ECEB;
}

.background_gray2 {
  background-color: #F3F4F4;
}

.border {
  border: 1px solid black;
}

.boarder_radius {
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.my_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx_10 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx_20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx_30 {
  margin-right: 30px;
  margin-left: 30px;
}

.ml_30 {
  margin-left: 30px;
}

.mt_30 {
  margin-top: 30px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_50 {
  margin-bottom: 50px;
}

.my_20 {
  margin-left: 20px;
  margin-right: 20px;
}

.ml_20 {
  margin-left: 20px;
}

.px_10 {
  padding-right: 10px;
  padding-left: 10px;
}

.px_20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px_30 {
  padding-right: 30px;
  padding-left: 30px;
}

.px_50 {
  padding-right: 50px;
  padding-left: 50px;
}

.pt_10 {
  padding-top: 10px;
}

.pt_30 {
  padding-top: 30px;
}

.py_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb_20 {
  padding-bottom: 20px;
}

.pb_30 {
  padding-bottom: 30px;
}

.pb_50 {
  padding-bottom: 50px;
}

.P_5 {
  padding: 5px;
}

.p_30 {
  padding: 30px;
}

.container-fluid.padding_none {
  padding: 0;
}

footer {
  max-width: 960px;
}

@media screen and (max-width: 400px) {
  .br_pc {
    display: none;
  }

  .br_sp {
    display: block;
  }

  .disp_pc {
    display: none;
  }

  .disp_sp {
    display: block;
  }

  p, li {
    font-size: 16px;
    letter-spacing: 3px;
  }

  h1, h2, p, li {
    font-family: 'Meiryo UI','Osaka','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  }

  h1 {
    font-size: 35px;
  }

  .my_30_sp {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mx_30_sp {
    margin-right: 30px;
    margin-left: 30px;
  }

  .mt_30_sp {
    margin-top: 30px;
  }

  .mb_30_sp {
    margin-bottom: 30px;
  }

  .mb_50_sp {
    margin-bottom: 50px;
  }

  .my_20_sp {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 400px) {
  .br_pc {
    display: block;
  }

  .br_sp {
    display: none;
  }

  .disp_pc {
    display: block;
  }

  .disp_sp {
    display: none;
  }
}
.border {
  border: solid 1px black;
}

.border_dotted {
  border: dotted 1px black;
}

.h2_heading {
  border-left: solid 10px #28996B;
  background-color: #D1E0DA;
  padding: 10px;
}

.h3_heading {
  position: relative;
  padding-left: 25px;
}

.h3_heading:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #77EA8F;
}

.h3_heading:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #77EA8F;
}

.contents_table {
  width: 90%;
}

@media screen and (max-width: 400px) {
  section.contents_table h2 {
    font-size: 25px;
  }

  .img_harf {
    width: 100%;
  }

  .img_70 {
    width: 100%;
  }
}
