@charset "utf-8";

/*初期の空白をなくす*/
body
{
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

/*以下の要素のデフォルト空白（margin-topにある）をなくす*/
p,h1,h2,h3,h4,h5,h6
{
  margin-top: 0px;
}

/*画像の縦位置調整（下側に意図しない余白ができるので）*/
img
{
  vertical-align: bottom;
}

/*余分な余白を解除*/
ul
{
  margin: 0;
  padding: 0;/*左横の・も消える*/
}

a
{
  color: #3583aa;
  text-decoration: none;
}
a:visited/*一度訪問したリンクの色を薄くする*/
{
  color: #788d98;
}
a:hover/*カーソルが乗った状態だとリンクに下線が引かれる*/
{
  text-decoration: underline;
}

body
{
  background-image: url("../images/index_bg.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.blackHilight
{
  /*
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top:0;
  right: 0;
  bottom: 0px;
  left: 0;
  */
}

/****************** s header ********************/
header
{
  width: 90%;
  height: 100px;
  margin: auto;/* 要素の中央寄せ。widthを指定したあとに記述する事 */
}

header .logo img
{
  display: none;
  float:left;
  margin-top: 50px;
  width: 20%;
  background-color: rgba(155,255,155,0.5);
  border-radius: 70px;
}

header .glovalNavi
{
  float:right;
  margin-top: 60px;
}

header .glovalNavi li
{
  display: none;
  float:left;
  margin: 0 20px;
  padding:0 10px;
  list-style: none;
  font-size:20px;
  font-family: 'Bitter', serif;
  background-color: rgba(155,255,155,0.5);
  border-radius: 30px;
}

header .glovalNavi li a
{
  color: #ffffff;
}

header .glovalNavi li a:hover
{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;/* 下線が文字のすぐ下に引かれるので、少し間をあける*/
  text-decoration: none;/* 全体で指定している下線の取り消し */
}

/****************** e header ********************/


/****************** s mainWrapper ********************/
.mainWrapper
{
  display: none;
  clear:both;/*上で指定したfloatの解除*/
  text-align: center;
}

.mainWrapper .contents
{
  margin: 0 auto;
  width: 90%;
  margin-top:250px;
}

.mainWrapper .contents h1
{
  font-size:100px;
  line-height:1;
  color: #ffffff;
  font-family: 'Bitter', serif;
  margin-bottom:50px;
}

.mainWrapper .contents .top
{
  font-size:16px;
  color: #ffffff;
}

.mainWrapper .contents .btn
{
  background-color: rgba(155,255,155,0.5);
  color:#ffffff;
  font-family: 'Bitter', serif;
  width: 185px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  
}
.mainWrapper .contents .btn:hover
{
  text-decoration: none;
  background-color: rgba(255,255,255,0.5);
  color: rgba(155,255,155,1.0);
}
/****************** e mainWrapper ********************/


/****************** s footer ********************/
footer
{
  text-align: center;
  color: #ffffff;
  margin-top: 150px;
  width:100%;
}

footer small
{
  font-size: 12px;
}

/****************** e footer ********************/




