@media screen and (max-width: 400px) {
  article p {
    font-size: 20px;
  }

  article img.width_250 {
    width: 250px;
  }

  article img.width_90pa {
    width: 90%;
  }

  .absolute {
    font-size: 50px;
  }

  .absolute {
    padding-top: 10px;
    font-size: 40px;
  }

  #skil img {
    width: 100%;
    height: auto;
  }
  #skil h2 {
    font-size: 25px;
  }
  #skil .comment {
    font-size: 15px;
  }
}
@media screen and (min-width: 400px) {
  article img.width_90pa {
    padding-right: 10px;
    padding-left: 10px;
  }

  #skil img {
    width: 100%;
    height: auto;
  }
}
