@charset "utf-8";

$max_width:960px;

// タブナビゲーションの設定
.nav-tabs.back_green > li.active > a,
.nav-tabs.back_green > li.active > a:hover,
.nav-tabs.back_green > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #8DE97A;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.navbar_center{
    margin: 0 auto;
    display: table;
    float:none;
}

.back_harf_yellow{
  background: linear-gradient(transparent 50%, yellow 50%);
}

.back_harf_green{
  background: linear-gradient(transparent 50%, #D4FC82 50%);
}

.inline_block{
  display: inline-block;
}

article section.tab-pane{
  max-width: $max_width;
}

.max_width_960{
  max-width: $max_width;
}

.none_padding .col-xs-4{
  padding: 0;
}

.panel-body.none_padding{
  padding: 0;
}

header{
  max-width: $max_width;
}

.width_harf{
  width: 50%;
}
.width_70{
  width: 70%;
}

main.panel.panel-default.panel_center{
  max-width: $max_width;
  margin: 0 auto;
}

// 規定スタイル解除
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

// iPhoneXで確認した時の右の余白削除
.wrap{
  overflow: hidden;
}

// 共通の文字サイズ
article p{
  font-size: 16px;
  //line-height: 1.9em;
}

img{
  vertical-align: bottom;
  width: 100%;
  height: auto;
}
.img_harf{
  width: 50%;
  height: auto;
}
.img_30{
  width: 30%;
  height: auto;
}
.img_70{
  width: 70%;
  height: auto;
}
.img_20par{
  width: 20%;
  height: auto;
}
.background_gray{
  background-color: #E9ECEB;
}
.background_gray2{
  background-color: #F3F4F4;
}
.border{
  border: 1px solid black;
}
.boarder_radius{
  border-radius: 10px;
}

ul{
  margin: 0;
  padding: 0;
}

.my_30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mx_30{
  margin-right: 30px;
  margin-left: 30px;
}
.mt_30{
  margin-top: 30px;
}
.mb_30{
  margin-bottom: 30px;
}
.my_20{
  margin-left: 20px;
  margin-right: 20px;
}
.ml_20{
  margin-left: 20px;
}
.px_10{
  padding-right: 10px;
  padding-left: 10px;
}
.px_20{
  padding-right: 20px;
  padding-left: 20px;
}
.px_30{
  padding-right: 30px;
  padding-left: 30px;
}
.px_50{
  padding-right: 50px;
  padding-left: 50px;
}
.pt_30{
  padding-top: 30px;
}
.py_20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.pb_30{
  padding-bottom: 30px;
}
.P_5{
  padding: 5px;
}
.p_30{
  padding: 30px;
}


.container-fluid.padding_none{
  padding: 0;
}


footer{
  max-width: $max_width;
}

// スマホ表示
@media screen and (max-width:400px)
{
  .br_pc{ display: none;}
  .br_sp{ display: block;}
  .disp_pc{ display: none;}
  .disp_sp{ display: block;}
  
  p,li{
    font-size: 18px;
    font-weight: bold;
  }
  
  h1,h2,p,li{
    font-family: 'Meiryo UI','Osaka','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  }
  
  h1{
    font-size: 35px;
  }
  
  .my_30_sp{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mx_30_sp{
    margin-right: 30px;
    margin-left: 30px;
  }
  .mt_30_sp{
    margin-top: 30px;
  }
  .mb_30_sp{
    margin-bottom: 30px;
  }
  .my_20_sp{
    margin-left: 20px;
    margin-right: 20px;
  }
}

// PC表示
@media screen and (min-width:400px)
{
  .br_pc{ display: block;}
  .br_sp{ display: none;}
  
  .disp_pc{ display: block;}
  .disp_sp{ display: none;}
}