@import "./common.scss";

.border{
  border: solid 1px black;
}
.border_dotted{
  border: dotted 1px black;
}

.h2_heading{
  border-left: solid 10px #28996B;
  background-color: #D1E0DA;
  padding: 10px;
}

.h3_heading{
  padding: 10px;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

.contents_table{
  width: 90%;
}

// スマホ表示
@media screen and (max-width:400px)
{
  section.contents_table h2{
    font-size: 25px;
  }
  .img_harf{
    width: 100%;
  }
  .img_70{
    width: 100%;
  }
}

// PC表示
@media screen and (min-width:400px)
{
  
}