@import "./common.scss";

.border{
  border: solid 1px black;
}
.border_dotted{
  border: dotted 1px black;
}

.h2_heading{
  border-left: solid 10px #28996B;
  background-color: #D1E0DA;
  padding: 10px;
}

.h3_heading {
position: relative;
padding-left: 25px;
}

.h3_heading:before {
position: absolute;
content: '';
bottom: -3px;
left: 0;
width: 0;
height: 0;
border: none;
border-left: solid 15px transparent;
border-bottom: solid 15px #77EA8F;
}
.h3_heading:after {
position: absolute;
content: '';
bottom: -3px;
left: 10px;
width: 100%;
border-bottom: solid 3px #77EA8F;
}

.contents_table{
  width: 90%;
}

// スマホ表示
@media screen and (max-width:400px)
{
  section.contents_table h2{
    font-size: 25px;
  }
  .img_harf{
    width: 100%;
  }
  .img_70{
    width: 100%;
  }
}

// PC表示
@media screen and (min-width:400px)
{
  
}