@charset "utf-8";

// スマホ表示
@media screen and (max-width:800px)
{
  article p{
    font-size: 20px;
  }
  article img.width_250{
    width: 250px;
  }
  article img.width_90pa{
    width: 90%;
  }
  .absolute{
    font-size: 50px;
  }
  .absolute{
    padding-top: 10px;
    font-size: 40px;
  }
  
  .html{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .sp_font_size{
    font-size: 20px;
  }
  
  #skil
  {
    img{
      width: 100%;
      height: auto;
    }
    h2{
      font-size: 25px;
    }
    .comment{
      font-size: 15px;
    }
  }
  
}

// PC表示
@media screen and (min-width:400px)
{
  article img.width_90pa{
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #skil img{
    width: 100%;
    height: auto;
  }
}
