@charset "utf-8";

@import "./common.scss";

$max_width:960px;

.none_padding .col-xs-4{
  padding: 0;
}

.panel-body.none_padding{
  padding: 0;
}

header img{
  max-width: $max_width;
}

main.panel.panel-default.panel_center{
  max-width: $max_width;
  margin: 0 auto;
}

article section.tab-pane{
  max-width: $max_width;
}

// タブナビゲーションの設定
.nav-tabs.back_green > li.active > a,
.nav-tabs.back_green > li.active > a:hover,
.nav-tabs.back_green > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #8DE97A;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.panel.none_margin{
  margin: 0;
}

.font_size_20{
  font-size: 20px;
}

.relative{
  position: relative;
}
.absolute{
  font-size: 100px;
  position: absolute;
  width: 100%;
  padding-top: 50px;
  color: white;
  z-index: 1;
}

.width_200{
  width:200px;
}

header h1{
  top: 0px;
  left: 0px;
}

footer{
  max-width: $max_width;
}